:root {
    --vp-c-brand-1: rgb(162, 119, 255);
    --vp-c-brand-2: rgb(162, 119, 255);
    --vp-c-brand-3: rgb(162, 119, 255);
    --vp-c-brand-light: rgb(87, 52, 241);
    --vp-c-brand-lighter: rgb(162, 119, 255);
    --vp-c-brand-dark: #a277ff;
    --vp-c-brand-darker: rgb(87, 52, 241);

    --vp-c-sponsor: #a277ff;
}